# Archivo de ejemplo para las variables de entorno

# Configuración de la base de datos
DATABASE_URL=postgresql://<usuario>:<contraseña>@<host>:<puerto>/<nombre_base_datos>

# Clave secreta para la aplicación (por ejemplo, para sesiones)
SECRET_KEY=<tu_clave_secreta>

# Otras configuraciones necesarias
FLASK_ENV=development  # o production
FLASK_APP=app.py       # nombre del archivo principal de la aplicación
PORT=5000
